dialog {
  position: relative;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: fit-content;
  background: white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
}

@media (max-width: 600px) {
  dialog {
    width: 90%;
    padding: 10px;
  }
}