.register {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    max-width: 500px; 
  
    .register-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;       
      padding: 2rem;
      background-color: #f9f9f9;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
      div {
        display: flex;
        flex-direction: column;
  
        label {
          margin-bottom: 0.5rem;
          font-weight: 500;
        }
  
        input {
          border: 1px solid #ccc;
          border-radius: 2px;
          padding: 0.5rem;
          font-size: 1rem;
  
          &:focus {
            outline: none;
            border-color: #007bff;
          }
        }
      }

      small {
        color: red;
      }
      .action {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: 500;
        transition: background-color 0.2s ease;
  
        &:hover {
          background-color: #0056b3;
        }
      }

      .spacer {
        width: 100%;
        text-align: center;
      }

      .navigate  {
        background-color: #0A9D58;
        color: #fff;
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: 500;
        transition: background-color 0.2s ease;
  
        &:hover {
          background-color: #0056b3;
        }
  
        &:focus {
          outline: none;
        }
      }

    }
  }
  